*{
    margin: 0;
    padding: 0;
    color: black;
}

body {
    width: auto;
    height: auto;
    position: relative;
    background-image: url(image/Fashion_background.png);
    background-size: cover;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    outline: none;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > h2 {
	margin-left:20px;
    font-family: Bahnschrift, Arial, Brush Script MT, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header > nav {
	width:500px;
	height:100%;
}

header ul {
	width:90%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

header ul > li {
	font-size:20px;
	height: 100%;
	display: flex;
	align-items: center;
    font-family: Bradley Hand ITC, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

header ul > li :hover{
    color: rgb(54, 181, 133) ;
}

section{
    width: 1000px;
    height: auto;
    margin: 0 auto;
}

.text{
    width: 1000px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
    padding-top: 150px;
    background-color: rgba(0, 0, 0, 0.256);
    border-radius: 10px;
    font-family: Bradley Hand ITC, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 45px;
}

.text p{
    display: inline-block;
    margin: 0;
    letter-spacing: 5px;
    opacity: 0;
    transition: 0.8s all;
    font-family: '바탕','휴먼아미체';
}

.site{
   width: 1000px;
   height: auto;
   border-style: solid;
   border-width: 3px;
   margin-bottom: 50px;
   padding-left: 30px;
   padding-top: 30px;
   padding-bottom: 30px;

}

.title{
    font-family: Bahnschrift, Arial, Brush Script MT, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
}

.title :hover {
    color: rgb(155, 207, 125);
}

.image {
    display: inline-block;
    
}

.image img {
    width: 400px;
    height: 300px;
}

.content{
    display: inline-block;
    width: 510px;
    height: auto;
    font-family: Bahnschrift, Arial, Brush Script MT, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    vertical-align: top;
    margin-top: 90px;
    margin-left: 30px;    
}

.content:hover{
    color: rgb(155, 207, 125);
}

footer{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    text-align: center;
}

